<div class="row text-center ">
    <h1 >Kitchen</h1>
</div>
<br><br>
<div class="row">
    <div class="col-sm-3 col-sm-offset-1 col-sx-10">
    <a class="btn btn-danger btn-lg btn-block" href="/kOrders" role="button" style="line-height: 60px">View Orders</a>
    <br>
    </div>
    <div class="col-sm-3 col-sm-offset-2 col-sx-10">
    <a class="btn btn-primary btn-lg btn-block" href="/meals" role="button" style="line-height: 60px">Update Meal</a>
    <br>
    </div>
    
</div>