<div class="row text-center ">
    <h1 >Welcome to Happy Wok! --- Table {{session.user.tableNumber}}</h1>
</div>
<br><br>
<div class="row">
    <div class="col-sm-3 col-sm-offset-2 col-sx-10">
    <a class="btn btn-primary btn-lg btn-block" href="/tMeals" role="button" style="line-height: 60px">Start Order</a>
    <br>
    </div>
    <div class="col-sm-3 col-sm-offset-1 col-sx-10">
    <a class="btn btn-info btn-lg btn-block" href="/tOrders" role="button" style="line-height: 60px">View Order</a>
    <br>
    </div>
</div>